body {
	margin: 0;
	font-family: sans-serif;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vw;
	font-size: 1rem;
}
#slideshow {
	margin: 0;
	position: relative;
}
#slideshow > img {
	width: 100%;
}
#slideshow > button {
	position: absolute;
	top: 50%;
	padding: 0;
	font-weight: bold;
	font-size: 2em;
}
#prev-slide {
	left: 0;
}
#next-slide {
	right: 0;
}
#prices-table > caption {
	font-size: 1.1rem;
	font-weight: bold;
}
#prices-table td {
	font-family: monospace;
	text-align: center;
}
#prices-table th, #prices-table td {
	padding: 1vw;
}
#prices-table, #prices-table th, #prices-table td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}
#price-calc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#price-calc > h2 {
	margin: 0;
}
