body {
	margin: 0;
	font-family: sans-serif;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2vw;
	font-size: 1rem;
}
#slideshow {
	margin: 0;
	position: relative;
}
#slideshow > img {
	width: 100%;
}
#slide-caption {
	position: absolute;
	top: 0;
	padding-top: 0.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
	font-size: 1em;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
}
#slideshow > button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	padding-top: 2vw;
	padding-bottom: 2vw;
	border: 0;
	background-color: rgba(0, 0, 0, 0.1);
	font-weight: bold;
	font-size: 8vw;
	color: white;
}
#prev-slide {
	left: 0;
	padding-left: 1vw;
	padding-right: 2vw;
}
#next-slide {
	right: 0;
	padding-right: 1vw;
	padding-left: 2vw;
}
#slideshow > ol {
	position: absolute;
	bottom: 2%;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
}
.slide-n, .slide-n-a {
	display: list-item;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 5vw;
}
.slide-n {
	color: rgba(255, 255, 255, 0.5);
}
.slide-n-a {
	color: rgba(0, 0, 0, 0.7);
}
.slide-n-d {
	display: none;
}
#prices-table > caption {
	font-size: 1.1rem;
	font-weight: bold;
}
#prices-table td {
	font-family: monospace;
	text-align: center;
}
#prices-table th, #prices-table td {
	padding: 1vw;
}
#prices-table, #prices-table th, #prices-table td {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-collapse: collapse;
}
#price-calc {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#price-calc > h2 {
	margin: 0;
}
