body {
	margin: 0;
	font-family: sans-serif;
}
main {
	background-color: white;
}
#init-image {
	width: 100%;
}
#intro {
	padding: 2vw;
	background-color: white;
	font-size: 1em;
	display: flex;
	flex-direction: column-reverse;
}
#intro > img {
	max-width: 800px;
	max-height: 600px;
}
@media screen and (min-width: 600px) {
	#intro {
		padding: 1vw;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	#intro > img {
		width: 50vw;
		margin-right: 1vw;
	}
}
