:root {
	--max-layout-width: 64rem;
}
body {
	margin: 0;
	font-family: sans-serif;
}
#init-image {
	width: 100%;
	max-width: 4096px;
}
#intro {
	max-width: var(--max-layout-width);
	margin: auto;
	padding: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
}
#intro > img {
	width: 100%;
	order: 1;
}
@media screen and (min-width: 75ch) {
	#intro {
		padding: 1vw;
		display: block;
		overflow: auto;
	}
	#intro > img {
		width: 50%;
		max-width: 800px;
		margin-right: 0.5rem;
		float: left;
	}
}
