body {
	margin: 0;
	font-family: var(--font-family);
	background-color: var(--bars-color);
}
main {
  padding: 1rem;
	background-color: var(--cards-background-color);
}
#main-content {
  margin: auto;
  max-width: var(--max-layout-width);
	display: grid;
	align-items: start;
	gap: 1rem;
}
.main-content-without-result {
	grid-template-areas: "intro" "form";
}
.main-content-with-result {
	grid-template-areas: "intro" "form" "result";
}
#introduction {
	grid-area: intro;
}
#introduction, #result {
	padding: 1rem;
	background-color: var(--cards-color);
}
#introduction>h2, form>h2, #result h2 {
  margin: 0;
  font-size: 1.2rem;
}
#introduction>p {
	margin: 1rem 0 0 0;
}
form {
	padding: 1rem;
	background-color: var(--cards-color);
	grid-area: form;
	justify-self: center;
}
form>hr {
	padding: 0;
	border: 0;
	border-bottom: 0.1rem solid black;
  border-color: black;
}
form>label, form>textarea {
  display: block;
}
#form-types {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
}
#form-info {
	width: 100%;
	resize: vertical;
}
#result {
	grid-area: result;
}
#result>div {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
}
#result h2, #result button {
	display: inline-block;
}
#result button {
	margin-left: auto;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}
#result button>img {
	width: 2rem;
}
#result-text {
	width: 100%;
	margin: 1rem 0 0 0;
	resize: vertical;
}
@media screen and (min-width: 40rem) {
	.main-content-with-result {
		grid-template-columns: auto 1fr;
		grid-template-areas: "intro intro" "form result";
	}
}
