#bottom-bar {
  background-color: var(--bars-color);
  color: var(--bars-text-color);
  display: flex;
  justify-content: center;
}
#bottom-bar-content {
  max-width: var(--max-layout-width);
  margin: 0 4rem;
  flex: 1 0 auto;
}
#bottom-bar-content>h2 {
  margin: 0.2rem;
  font-size: 1.2rem;
  font-weight: bold;
}
#contacts-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#contacts-list>li {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contact-icon {
  margin: 0.2rem;
  width: 2rem;
  height: 2rem;
  filter: invert(100%);
}
.contact-text {
  margin: 0;
  font-size: 0.8rem;
}
.phone-text a {
  color: var(--bars-text-color);
  text-decoration: none;
}
