#top-bar {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #1E1E1E;
  color: white;
}
#top-bar a {
  color: white;
}
#logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo > img {
  width: 18vw;
  max-width: 512px;
  padding: 1vw;
  padding-right: 2vw;
}
#logo > h1 {
  font-family: serif;
  font-size: 1.3em;
  font-weight: bold;
}
#lang-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}
#lang-switcher > img {
  width: 8vw;
}
#nav-bar {
  width: 100%;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
}
#nav-bar > a {
  background-color: lightslategrey;
  padding: 1vw;
  margin: 1px;
}
@media screen and (min-width: 600px) {
  #top-bar {
    flex-wrap: nowrap;
  }
  #logo {
    order: 1;
  }
  #logo > img {
    width: 70px;
    padding: 0.5vw;
    padding-right: 1vw;
  }
  #nav-bar {
    order: 2;
    width: auto;
  }
  #nav-bar > a {
    background-color: #1E1E1E;
    padding: 0.5vw;
    border: solid;
    border-width: 1px;
    border-color: #1E1E1E;
  }
  #nav-bar > a:hover {
    background-color: dodgerblue;
  }
  #lang-switcher {
    order: 3;
  }
  #lang-switcher > img {
    width: 30px;
  }
}
