@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --max-layout-width: 64rem;
  --font-family: "Noto Sans", sans-serif;
  --font-family-monospace: "Noto Sans Mono", monospace;
  --bars-color: #1E1E1E;
  --bars-text-color: white;
  --bars-link-color: #2E2E2E;
  --bars-link-hover-color: dodgerblue;
  --cards-background-color: gainsboro;
  --cards-color: white;
}
